<html>
  <head>
    <meta charset="UTF-8">
    <title>htmx + sinatra ftw</title>
      <script src="https://unpkg.com/htmx.org@0.0.4"></script>
      <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet">     
      <link rel="stylesheet" href="./style.css">
  </head>

  </body>
  </body>
</div>
~~<~~/html>